@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800);



/*Medidas y resoluiones de dispositivos*/
@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) and (max-width: 1300px) {
    .hidden-md2 {
      display: none !important;
    }
  }
  @media (min-width: 1300px) and (max-width: 1600px) {
    .hidden-md2 {
      display: none !important;
    }
  }

  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
  }
  
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important;
    }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
      display: block !important;
    }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
      display: block !important;
    }
    }
    @media (min-width: 1200px) and (max-width: 1300px) {
      .visible-md2 {
        display: block !important;
      }
    }
    @media (min-width: 1300px) and (max-width: 1600px) {
      .visible-md2 {
        display: block !important;
      }
    }
    @media (min-width: 1200px) {
    .visible-lg {
      display: block !important;
    }
    }
.fondo{
    background: url('../img/telas1.jpg')top right no-repeat;
    width: 100%;
    height: 1085px;
    background-size: cover;
    background-position: center center;
}
.fondo-color{
    background:rgba(0,0,0,0.6);
    width: 100%;
    height: 1085px;
}


#menu{
  position: fixed;
  top:0;
  z-index:88;
}


.menu-color{
    background:#eee; 
    width:100%;
    height:auto;
}
.menu li{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    font-family: 'Open Sans', serif;
    color: #4c4d4d;
    font-weight: bold;   
  
margin-left:10px;
margin-top:0px;
    
}
.menu li a{
    color: #4c4d4d;
    font-weight: bold;
    text-decoration: none;

}
.logo{
    
    width:140px; height:85px;
left:50%;
top:50%;
margin-left:100px;
margin-top:0px;
}
.logo2{
width:190px; 
height:90px;

}
.cuadro{
    background:rgba(255,255,255,0.4);
    width: 100%;
    height: 320px;
    margin-top:450px;
}
.titulo{
    color:#fff;
    font-size: 38px;
    font-family: 'Open Sans', serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top:90px;
}
.titulo2{
    color:#fff;
    font-size: 38px;
    font-family: 'Open Sans', serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top:100px;
}

#flechas{
color: #ab2ab2;
font-size: 50px;
float: right;
margin-top: 18px;  
}

#flechas3{
color: #ab2ab2;
font-size: 50px;
float: right;
margin-top: -68px;

}


.titulo-contenedores{
  color:#fff;
  text-align: center;
  font-family: 'Open Sans', serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}
.color-contenedor{
  background: #610d65;
  width: 100%;
  height:100px;
}

.img-contenedor1{
  width: 100%;
  height: 305px;
  margin-top:11px;
}

.contenedor-1{
  background:rgba(238,238,240,0.6);
  width:100%;
   height:auto;
   margin-top:105px;
}
.parrafo-contenedor{
font-size: 18px;
text-align:justify;
font-family: 'Open Sans', serif;
padding: 50px;
}
.parrafo-contenedor2{
font-size: 18px;
text-align:justify;
font-family: 'Open Sans', serif;
padding: 50px;
margin-top: -100px;
  }
  .contenedor-fondo1{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 305px;
    position: relative;
    margin-top: -305px;
  }


  .contenedor-2{
    background:rgba(238,238,240,0.6);
    width:100%;
     height:auto;
     margin-top:20px;
  }

  .tols-contenedor-1 .tols:after{
  content: '';
    position: absolute;
    bottom: 100%;
    top:-15px;
    left: 15%;
    margin-left: -8px;
    width:0; height:0;
    border-bottom: 35px solid #eee;
    border-right: 35px solid transparent;
    border-left: 35px solid transparent;
  }
  .tols-contenedor-2 .tols-2:after{
    content: '';
      position: absolute;
      bottom: 100%;
      top:-14px;
      left: 49%;
      margin-left: -8px;
      width:0; height:0;
      border-bottom: 35px solid #eee;
      border-right: 35px solid transparent;
      border-left: 35px solid transparent;
    }
   .efecto2,.efecto3{
display: none;
   }


   .tols-contenedor-3 .tols-3:after{
    content: '';
      position: absolute;
      bottom: 100%;
      top:-14px;
      left: 79%;
      margin-left: -8px;
      width:0; height:0;
      border-bottom: 35px solid #eee;
      border-right: 35px solid transparent;
      border-left: 35px solid transparent;
    }
    .cycle-slideshow img{
      width:100%;
      height:250px;
    padding: 10px;
    
    }
#res{
 margin-top:200px;
}

/*seccion de servicios*/
.boton-servicios{
background:purple;
width:300px; 
height:70px; 
position:relative;  
position: absolute;
left: 55%;
top: 75%;
margin: -100px 0 0 -180px;
border-width: 3px;
border-style: solid;
border-color: #fff;
}
.parrafo_servicios{
  text-align:center;
  margin-top:15px;
}
#link-servicios{
  color:#fff;
  text-decoration:none;
  font-size:25px; 
  font-weight:bold;
}

.parrafo-content{
  color:#fff;
   text-align:center;
   font-size:25px;
    position:relative;
     top:80px;
      font-weight:bold;
}

/*Contacto*/
.contacto{
  background: url('../img/telas1.jpg')top right no-repeat;
  width: 100%;
  height:auto;
  background-size: cover;
  background-position: center center;
}
.fondo-contacto{
  background: rgba(0,0,0,0.8);
  width: 100%;
  height:auto;
}



/* Menu responsive/*




/*Estilos nuevos menu alterno*/

.btnCerrar{
	display:none;
   color:#fff;
}

/*Estilos del menu responsive*/
#menu_responsive{
	
	height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
   background-color: rgba(96, 29, 85, 0.88);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	    padding: 0;
}


.closebtn-responsive {
    position: absolute;
    top: 0px;
    right:15px;
    font-size: 60px !important; /* Override the font-size specified earlier (36px) for all navigation links */
    z-index: 999;
    color:#fff;
}
.menu-responsive{

	width: 100%;
	height:auto;
    padding: 20px;
    
}
.menu-responsive li{

	
	margin: 0px 0;
  list-style:none
  
}
.menu-responsive li a{
	display: block;
    padding: 10px 0px;
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-top:70px;
     font-family: 'Open Sans', serif; 
     font-weight:bold;    
}
ul.menu-responsive li ul{
		margin-left: 30px;
    
	}
	ul.menu-responsive li:hover ul {
		display: block;
    
	}
	ul.menu-responsive li a#secc:hover{
		color: white;
		background: #86B4E8;
	}
  
  
  .slow {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 1s;
}